
node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

dist/
build/

.cache/
.next/
.out/
coverage/

*.tmp
*.temp
*.swp

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
